extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		h1 Bienvenido a la app de fotos
		a(href="/login" class="right-space") Iniciar Sesion
		a(href="/signup") Registro