extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		h1 My notice app
		.container
			img(src="/news.png" alt="news-test-node-jade" style="width:50%")
		a(href="/auth/login" class="right-space") Iniciar Sesion
		a(href="/auth/signup") Registro
