doctype html
html(lang="es")
	head
		block ptitle
		meta(charset="utf-8")
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/app.css" rel="stylesheet")
		script(src="https://use.fontawesome.com/c4b1fab263.js")
		script(src='/socket.io/socket.io.js')
		script(src='/js/handlebar.js')
	body
		include ./static/navbar
		div(class="container")
			block title
			hr
			p
				block contenido
	include ./static/footer
