extends ../../layout.jade
block contenido
	div( class="container")
		h1 Mis imagenes
		for img in imagenes
			.white.border.tr.large-padding
				.row
					.col-md-10
						h2= img.title
					.col-md-2
						a( href="/app/imagenes/#{img._id}/edit" class="right-space") Editar
						form(action="/app/imagenes/#{img._id}?_method=DELETE" class="link" method="POST")
							input(type="submit" value="Eliminar")