extends ../../layout.jade
block ptitle
	title Listado de noticias
block title
	h2 Listado de noticias
block contenido
	div(class="container")
		div(class="row")
			div(class="col-md-12")
				table(class="table table-striped table-bordered")
					thead
						tr
							th Titulo
							th Acciones
						tbody
							each img in imagenes
								tr
									td #{img.title}
									td
										ul
											li
												a(href="/app/imagenes/#{img._id}", class="right-space") editar
											li
												form(action="/app/imagenes/#{img._id}?_method=DELETE", class="link", method="POST")
													input(type="submit", value="eliminar")
