extends ../../layout.jade
block contenido
	div(class="col-md-6 remove-float center-block big-top-space")
		h1 Agregar nueva imagen
		form(action="/app/imagenes", method="POST" enctype="multipart/form-data")
			div(class="form-group")
				label(for="title") Titulo
				input(class="form-control" type="text" name="title" placeholder="Titulo de la imagen" id="title")
			div(class="form-group")
				label(for="image") Imagen
				input(class="form-control" type="file" name="image" id="image")
			div(class="form-group")
				div(class="row")
					div(class="col-xs-12 col-md-6")
						input(class="btn btn-primary" type="submit" value="Enviar datos")