extends ../../layout.jade
block ptitle
	title Nueva noticia
block title
	h2 Nueva noticia
block contenido
	div(class="card")
		div(class="card-body")
			form(action="/app/images/new", method="POST" enctype="multipart/form-data")
				div(class="row form-group")
					div(class="col-md-3")
						label(for="title") Titulo
					div(class="col-md-9")
						input(class="form-control" type="text" name="title" placeholder="Titulo de la imagen" id="title")
				div(class="row form-group")
					div(class="col-md-3")
						label(for="image") Imagen
					div(class="col-md-9")
						div(class="custom-file")
							input(class="custom-file-input" type="file" name="image" id="image")
							label(class="custom-file-label") Selecciona un archivo
				div(class="row form-group")
					div(class="col-md-3")
					div(class="col-md-9 text-right")
						input(class="btn btn-primary" type="submit" value="Enviar datos")
